<nav class="navbar navbar-expand navbar-dark flex column flex-md-row bd-navbar fixed-top">
  <a class="navbar-brand mr-0 mr-md-2" href="/bootstrap-material-design" aria-label="Bootstrap">

    <img class="d-block" width="36" height="36" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Boostrap_logo.svg/895px-Boostrap_logo.svg.png" alt="Bootstrap">
  </a>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link " href="#" onclick="ga('send', 'event', 'Navbar', 'Bootstrap', 'Docs');">Home</a>

      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">About</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');" >Language</a>
         </li>
      <li class="nav-item partner creativetim">
        <a class="nav-link" href="#"
           onclick="ga('send', 'event', 'Navbar', 'Community links', 'Material Dashboard Pro');" target="_blank"
           rel="noopener" >Tip</a>
       </li>
     </ul>
  </div>
  <form class="form-inline my-2 my-lg-0 ml-md-auto">
    <span><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></span>
  </form>
</nav>



